<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:property name="chassis_x" value="0" /> 
<xacro:property name="chassis_y" value="0" />
<xacro:property name="chassis_z" value="0" />



<xacro:property name="chassis_L" value="0.6858" /> 
<xacro:property name="chassis_W" value="0.4064" />
<xacro:property name="chassis_H" value="0.1524" />
<xacro:property name="chassis_mass" value="10" />

<xacro:property name="bar_L" value="0.1" /> 
<xacro:property name="bar_W" value="0.1" />
<xacro:property name="bar_H" value="0.25" />

<xacro:property name="bar_x" value="0" /> 
<xacro:property name="bar_y" value="0" />
<xacro:property name="bar_z" value="0" />


<xacro:property name="wheel_R" value="0.15" /> 
<xacro:property name="wheel_L" value="0.05" />
<!-- off set the wheel from the chassis -->
<xacro:property name="wheels_offset" value="0.01" />
<xacro:property name="wheels_mass" value="2" />



<xacro:property name="lidar_x" value="-0.025" />
<xacro:property name="lidar_y" value="0" />
<xacro:property name="lidar_z" value="0.04" />








</robot>
