<launch>

    <include file="$(find mini_jaguar_pkg)/launch/gazebo.launch"> </include>
    <include file="$(find mini_jaguar_pkg)/launch/gmapping_demo.launch"> </include>
    <include file="$(find mini_jaguar_pkg)/launch/amcl_demo1.launch"> </include>
    <include file="$(find mini_jaguar_pkg)/launch/mini_jaguar_rivz.launch"> </include>

</launch>
