<?xml version='1.0'?>

<robot name="myrobot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="gpu" default="false"/>
  <xacro:property name="gpu" value="$(arg gpu)" />
  <xacro:include filename="$(find jaguar_pkg)/parts/velodyne_des.xacro"/>

  <joint name="${link_tail}_joint" type="fixed" >
   <parent link="${link_00_name}" />
    <child link="${link_tail}" />
    <origin xyz="${-0.37 * scale_all}  ${0 * scale_all}  ${0.43 * scale_all} " rpy="0 0 0" />
  </joint>

  <link name="${link_tail}" >
    <visual>
          <origin xyz="0 0 0"/>
      <geometry>
        <box size="${0.05 * scale_all} ${0.05 * scale_all} ${0.53 * scale_all}" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <box size="${0.05 * scale_all} ${0.05 * scale_all} ${0.53 * scale_all}" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0"/>
      <mass value="${tail_mass}"/>
      <inertia ixx="3.0" ixy="0.0" ixz="0.0"
               iyy="3.0" iyz="0.0" 
               izz="3.0" />
    </inertial>
  </link>

 <VLP-16 parent="${link_tail}" name="velodyne" topic="/velodyne_points" hz="10" samples="440" gpu="${gpu}" scaleModel="${scale_all}">
    <origin xyz="0 0 ${0.27 * scale_all}" rpy="0 0 0" />
  </VLP-16> 

</robot>

