<?xml version="1.0" ?>
<robot name="jaguar" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
 
  <xacro:include filename="$(find jaguar_pkg)/urdf/robot_parameters.xacro" />
  <xacro:include filename="$(find jaguar_pkg)/urdf/links_joints.xacro" />
  <!-- Begin - Include parts-->
  
   <!-- <xacro:include filename="$(find jaguar_pkg)/parts/tankWheel.xacro" />  -->
  <xacro:include filename="$(find jaguar_pkg)/parts/fins.xacro" />  
  <xacro:include filename="$(find jaguar_pkg)/parts/wheels.xacro" /> 
  <xacro:include filename="$(find jaguar_pkg)/parts/arm.xacro" />

  <xacro:include filename="$(find jaguar_pkg)/parts/velodyne.xacro" />

  <xacro:include filename="$(find jaguar_pkg)/parts/lidar.xacro" /> 

  <xacro:include filename="$(find jaguar_pkg)/gazebo_plugins/genral.gazebo" /> 
  
  <!-- END - Include parts-->

  <link name="${dummy_link}"></link>

  <joint name="${dummy_link}__${link_00_name}" type="fixed">
    <parent link="${dummy_link}"/>
    <child link="${link_00_name}"/>
  </joint>

  <m_link_mesh name="${link_00_name}"
              origin_rpy="0 0 0" origin_xyz="0 0 ${wheel_R}"
              mass="${chassis_mass}"
              ixx="0.1" ixy="0" ixz="0"
              iyy="0.1" iyz="0"
              izz="0.1"
              meshfile="${the_meshfile}/jaguar_base.dae"
              meshscale="${chassis_scale_x} ${chassis_scale_y} ${chassis_scale_z}"/> 







</robot>